<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновить пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getUserId()})}" th:object="${user}">

  <label for="name">Имя: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <label for="age">Возраст: </label>
  <input type="number" th:field="*{age}" id="age"/>

  <br/>
  <input type="submit" value="Обновить"/>
</form>

<br/>
<hr/>
<h3>Таблицы:</h3>
<a href="/Spring-JDBC-CRUD/flights">Рейсы</a> <br/>
<a href="/Spring-JDBC-CRUD/users">Пользователи</a><br/>
<a href="/Spring-JDBC-CRUD/userflights">Many-to-many (Рейсы, Пользователи)</a><br/>
<a href="/Spring-JDBC-CRUD/companies">Авиакомпании</a><br/>
<a href="/Spring-JDBC-CRUD/codes">Коды аэропортов</a><br/>

</body>
</html>