<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getUserId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getUserId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getUserId()})}">
  <input type="submit" value="Удалить"/>
</form>

<br/>
<hr/>
<h3>Таблицы:</h3>
<a href="/Spring-JDBC-CRUD/flights">Рейсы</a> <br/>
<a href="/Spring-JDBC-CRUD/users">Пользователи</a><br/>
<a href="/Spring-JDBC-CRUD/userflights">Many-to-many (Рейсы, Пользователи)</a><br/>
<a href="/Spring-JDBC-CRUD/companies">Авиакомпании</a><br/>
<a href="/Spring-JDBC-CRUD/codes">Коды аэропортов</a><br/>

</body>
</html>